.Item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.time {
  color: #64748b;
  font-weight: bold;
}
.logo-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.domain-title-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.title {
  font-weight: bold;
  color: #475569;
  margin: 0px;
  padding: 0px;
  margin-right: 30px;
}
.domain {
  color: #475569;
}
.delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.delete {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .Item {
    flex-direction: row;
    align-items: center;
  }
  .domain-title-container {
    flex-direction: row;
    align-items: center;
  }
  .time {
    width: 100px;
  }
}
