* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  height: 100vh;
}
.top-container {
  background-color: #3367d6;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 200px;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2850a7;
  border-color: #ececec;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  margin-left: 30px;
}
.icon-container {
  border: 1px solid #ffffff;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  padding: 7px;
  margin-right: 10px;
}
.input {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.bottom-container {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.history-container {
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  background-size: fixed;
  padding: 20px;
  border-radius: 7px;
  border-width: 0px;
  list-style-type: none;
  margin: 0px;
  width: 100%;
}
.empty {
  color: #475569;
  font-size: 30px;
  align-self: center;
}
